.sidebar{
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: #e2e2e2;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
    overflow-y: auto;
    height: 100vh;
    color: black;
}
.sidebar button {
    display: none;
}

@media(max-width:636px){
    .sidebar{
        background: rgb(255, 251, 251);
        z-index: 10;
        width: 120px;
        transform: translateX(-200px);
        transition: 0.5s;
        padding-top: 3rem;
    }
    .collapse{
        transform: translateX(0px);
    }
    .sidebar button{
        display: block;
        outline: none;
        border: none;
        background-color: transparent;
        margin-top: 2rem;
    }
}