.sidebar{
    display: flex;
    flex-direction: column;
    width: 15%;
    background-color: #e2e2e2;
    position: sticky;
    top: 0;
    bottom: 0;
    padding: 2rem;
    overflow-y: auto;
    color: black;
}
.sidebar button {
    display: none;
}

@media(max-width:636px){
    .sidebar{
        position: fixed;
        top: 0;
        background: rgb(255, 251, 251);
        z-index: 10;
        transform: translateX(-600px);
        transition: 0.5s;
        width: 40%;
    }
    .collapse{
        transform: translateX(0px);
    }
    .sidebar button{
        display: block;
        outline: none;
        border: none;
        background-color: transparent;
        margin-top: 2rem;
    }
}